* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}
body {
  font-size: 20px;
  font-family: "Roboto" , sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5EFE7;
  color: #164B60;
}
.container{
  width: 1440px;
  margin: 0 auto;
}
.nav-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link{
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: #FFF4F4;
}
.nav-link:hover{
  transition: .3s;
}
a {
  position: relative;
  color: #213555;
  text-decoration: none;  
  transition: color 0.5s;
}

a::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: #FFF4F4;
}

a:hover:before {
	width: 100%;
}

a::before {
	transition: width 0.5s;
}


.name_cv {
  text-align: center;
}
.image {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  width: 200px;
}
.section-title{
  font-family: "Rubik", sans-serif;
}
/* .header, .main, .footer{
  border: 1px solid red;
} */
.header{
  background-color: #4F709C;
  font-size: 24px;
}
.main{
  margin-top: 30px;
}
.footer{
  font-size: 25px;
  background-color: #4F709C;
}
.footer>.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright, .github{
  color: #FFF4F4;
}

.projects{
  width: 300px;
}
.experience{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-size: 20px;
  font-family: "Roboto" , sans-serif;
}
.experience>a{
  color: #4F709C;
  letter-spacing: 2px;
}
.experience>a:hover{
  color:#213555;
}

.experience>a::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: #213555;
}

.experience>a:hover:before {
	width: 100%;
}

.experience>a::before {
	transition: width 0.5s;
}

.experience>a>figure>img{
  border-radius: 9px;
  border: 5px solid #4F709C;
}
.experience>a>figure>img:hover{
  border: 5px solid #213555;
}
.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section{
  width: 45%;
}
.section-title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
#profile{
  width: 100%;
}
.rss{
  width: 121px;
  height: 45px;
}