body {
  background-color: #f5efe7;
  color: #213555;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
h1 {
  text-align: center;
}
img {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}
